/*Your styles*/

 body {
    width:100vw;
    height:100vh;
    background-color:black !important;
}

#content {
    margin-right:auto;
    margin-left:auto;
    width:100vw;
    height:100vh;
    background-color:black !important;
}

#input{
    padding-bottom: 28px;
    height:10px;
    padding-top:8px;
    background-color:#392e5c;
    position: absolute;
    top:0px;
    width:100%;
}

#input-field{
    float:left;
    margin-left:15px;
    padding-left:10px;
    width:300px;
    height:26px;
    font-size: 12px;
    background-color:black !important;
    color: #b19dd8;
    letter-spacing: .3px;
    border: none;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 400;
    border: 1px solid #392e5c;
}

#input-field:focus{
    color: white;
    border: 1px solid #8166d6;
}

::-webkit-input-placeholder {
   color: #b19dd8;
   font-weight: 400;
   font-size: 12px;
}

#input-bar{
    color:white;
    z-index: -100;
    float:left;
}

#logo {
  display: block;
  text-indent: -9999px;
  padding-top:5px;
  padding-left:15px;
  width: 22px;
  height: 22px;
}

.container {
   /*
    position: relative;
    height: 60%;
    margin-top:45px;
    */
    background-color: black !important;
    height: 100%;
}

iframe {
    position: absolute;
    width: 100%;
    top: 45px;
    height: calc(100% - 45px);
}

/*
Those classes will be edited at runtime with values specified
by the settings of the CC application
*/
.hostFontColor{}
.hostFontFamily{}
.hostFontSize{}

/*font family, color and size*/
.hostFont{}
/*background color*/
.hostBgd{}
/*lighter background color*/
.hostBgdLight{}
/*darker background color*/
.hostBgdDark{}
/*background color and font*/
.hostElt{}


.hostButton{
    border:1px solid;
    border-radius:2px;
    height:20px;
    vertical-align:bottom;
    font-family:inherit;
    color:inherit;
    font-size:inherit;
}